In [32]:
import numpy as np
import pandas as pd
from pandas import Series
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import statsmodels.api as sm
from scipy import stats 
from sklearn import metrics 
from sklearn.metrics import mean_squared_error,mean_absolute_error, make_scorer,classification_report,confusion_matrix,accuracy_score,roc_auc_score,roc_curve
from statsmodels.formula.api import ols
from sklearn.model_selection import train_test_split,cross_val_score,KFold
from sklearn.linear_model import LinearRegression,LogisticRegression,Ridge 
from statsmodels.stats.outliers_influence import variance_inflation_factor
import warnings
warnings.filterwarnings('ignore')
sns.set_style('whitegrid')
sns.set_palette("GnBu_d")
from scipy.stats.stats import pearsonr
from statsmodels.tools.tools import add_constant

In [33]:
car_sales= pd.read_csv('../data/input/Car_sales.csv')

In [34]:
car_sales

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor,Path
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2/2/2012,58.280150,1.jpg
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,6/3/2011,91.370778,2.jpg
2,Acura,CL,14.114,18.225,Passenger,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,1/4/2012,NaN,3.jpg
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,3/10/2011,91.389779,4.jpg
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,10/8/2011,62.777639,5.jpg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,Volvo,V40,3.545,NaN,Passenger,24.40,1.9,160.0,100.5,67.6,176.6,3.042,15.8,25.0,9/21/2011,66.498812,6.jpg
150,Volvo,S70,15.245,NaN,Passenger,27.50,2.4,168.0,104.9,69.3,185.9,3.208,17.9,25.0,11/24/2012,70.654495,7.jpg
151,Volvo,V70,17.531,NaN,Passenger,28.80,2.4,168.0,104.9,69.3,186.2,3.259,17.9,25.0,6/25/2011,71.155978,8.jpg
152,Volvo,C70,3.493,NaN,Passenger,45.50,2.3,236.0,104.9,71.5,185.7,3.601,18.5,23.0,4/26/2011,101.623357,9.jpg
153,Volvo,S80,18.969,NaN,Passenger,36.00,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,11/14/2011,85.735655,10.jpg

In [35]:
features=[]

In [36]:
for i in range (0,15):
    features.append('gas std two hatchback forward front cylinder-four engine-ohc mpfi')
    features.append('gas std four hatchback backward front cylinder-four engine-ohc mpfi')
    features.append('gas turbo two sedan forward back cylinder-six engine-ohc 2bbl')
    features.append('diesel std four hatchback forward front cylinder-four engine-ohc 2bbl')
    features.append('diesel turbo four sedan forward back cylinder-six engine-ohc 2bbl')
    features.append('gas std two hatchback forward front cylinder-four engine-ohc mpfi')
    features.append('gas std four hatchback backward front cylinder-four engine-ohc mpfi')
    features.append('gas turbo two sedan forward back cylinder-six engine-ohc 2bbl')
    features.append('diesel turbo four sedan forward back cylinder-six engine-ohc 2bbl')
    features.append('gas turbo two sedan forward back cylinder-six engine-ohc 2bbl')

In [37]:
features.append('diesel std four hatchback forward front cylinder-four engine-ohc 2bbl')
features.append('diesel turbo four sedan forward back cylinder-six engine-ohc 2bbl')
features.append('diesel std four hatchback forward front cylinder-four engine-ohc 2bbl')
features.append('diesel turbo four sedan forward back cylinder-six engine-ohc 2bbl')

In [38]:
car_sales['features']=features

In [39]:
car_sales

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor,Path,features
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2/2/2012,58.280150,1.jpg,gas std two hatchback forward front cylinder-f...
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,6/3/2011,91.370778,2.jpg,gas std four hatchback backward front cylinder...
2,Acura,CL,14.114,18.225,Passenger,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,1/4/2012,NaN,3.jpg,gas turbo two sedan forward back cylinder-six ...
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,3/10/2011,91.389779,4.jpg,diesel std four hatchback forward front cylind...
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,10/8/2011,62.777639,5.jpg,diesel turbo four sedan forward back cylinder-...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,Volvo,V40,3.545,NaN,Passenger,24.40,1.9,160.0,100.5,67.6,176.6,3.042,15.8,25.0,9/21/2011,66.498812,6.jpg,gas turbo two sedan forward back cylinder-six ...
150,Volvo,S70,15.245,NaN,Passenger,27.50,2.4,168.0,104.9,69.3,185.9,3.208,17.9,25.0,11/24/2012,70.654495,7.jpg,diesel std four hatchback forward front cylind...
151,Volvo,V70,17.531,NaN,Passenger,28.80,2.4,168.0,104.9,69.3,186.2,3.259,17.9,25.0,6/25/2011,71.155978,8.jpg,diesel turbo four sedan forward back cylinder-...
152,Volvo,C70,3.493,NaN,Passenger,45.50,2.3,236.0,104.9,71.5,185.7,3.601,18.5,23.0,4/26/2011,101.623357,9.jpg,diesel std four hatchback forward front cylind...
153,Volvo,S80,18.969,NaN,Passenger,36.00,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,11/14/2011,85.735655,10.jpg,diesel turbo four sedan forward back cylinder-...

In [40]:
from sklearn.feature_extraction.text import TfidfVectorizer
tf = TfidfVectorizer(analyzer='word',ngram_range=(1, 3),min_df=0, stop_words='english')
tfidf_matrix = tf.fit_transform(car_sales['features'])

In [41]:
tfidf_matrix.shape

(154, 43)

In [42]:
# Cosine similarity
from sklearn.metrics.pairwise import linear_kernel
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)
indices = pd.Series(car_sales.index, index=car_sales['Model']).drop_duplicates()

In [43]:
indices

Model
Integra      0
TL           1
CL           2
RL           3
A4           4
          ...
V40        149
S70        150
V70        151
C70        152
S80        153
Length: 154, dtype: int64

In [44]:
# Function that takes in car model as input and outputs most similar car models
def get_recommendations(Model, cosine_sim=cosine_sim):
    # Get the index of the car models that matches the model
    idx = indices[Model]

    # Get the pairwsie similarity scores of all car models with that car model
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the car models based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar car models
    sim_scores = sim_scores[1:11]

    # Get the car model indices
    car_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar car models
    return car_sales[['Model','Manufacturer','Path']].iloc[car_indices]

In [45]:
get_recommendations('RL')

              Model Manufacturer    Path
13          LeSabre        Buick  14.jpg
23           Camaro    Chevrolet   6.jpg
33   Town & Country     Chrysler  16.jpg
43           Dakota        Dodge   8.jpg
53         Windstar         Ford  18.jpg
63          Elantra      Hyundai  10.jpg
73            LS400        Lexus   2.jpg
83           3000GT   Mitsubishi  12.jpg
93          E-Class   Mercedes-B   4.jpg
103          Maxima       Nissan  14.jpg

In [46]:
def recommend():
    if request.method == 'GET':
        return render_template('recommendation.html')

    elif request.method == 'POST':
        model=request.form.get('model_id')
        if model in car_sales['Model'].values:
            idx = indices[model]

            sim_scores = list(enumerate(cosine_sim[idx]))

            sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

            sim_scores = sim_scores[1:5]

            car_indices = [i[0] for i in sim_scores]
            arr = car_sales[['Model', 'Manufacturer','Path']].iloc[car_indices]

            return render_template('recommendation.html', model_mod="Model", model_man="Manufacturer" ,model_mod1=arr.iloc[0,0], model_mod2=arr.iloc[1,0], model_mod3=arr.iloc[2,0], model_mod4=arr.iloc[3,0], model_man1=arr.iloc[0,1], model_man2=arr.iloc[1,1], model_man3=arr.iloc[2,1], model_man4=arr.iloc[3,1])
        else:
            return render_template('recommendation.html', model_message='Please enter a valid model name')

In [47]:
import pickle

In [48]:
pickle.dump(cosine_sim,open('../pickle/cosine_sim.pkl','wb'))

In [49]:
pickle.dump(indices,open('../pickle/indices.pkl','wb'))

In [50]:
pickle.dump(car_sales,open('../pickle/car_sales.pkl','wb'))