## OLIST

In [99]:
#Pandas library
import pandas as pd

In [100]:
#closed deals
cd = pd.read_csv('olist_closed_deals_dataset.csv')

In [101]:
#marketing qualified leads
mql = pd.read_csv('olist_marketing_qualified_leads_dataset.csv')

In [102]:
#olist order items
order_items = pd.read_csv('olist_order_items_dataset.csv')

In [103]:
#olist sellers dataset
sellers = pd.read_csv('olist_sellers_dataset.csv')

In [104]:
#olist products dataset
products = pd.read_csv('olist_products_dataset.csv')

In [105]:
#product category name translation
prod_name = pd.read_csv('product_category_name_translation.csv')

In [106]:
#olist orders dataset
orders = pd.read_csv('olist_orders_dataset.csv')

In [107]:
#olist orders reviews dataset
reviews = pd.read_csv('olist_order_reviews_dataset.csv')

### Considering Olist - Closed leads dataset as the main dataset --

### MQL - EDA

In [108]:
mql.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 4 columns):
mql_id                8000 non-null object
first_contact_date    8000 non-null object
landing_page_id       8000 non-null object
origin                7940 non-null object
dtypes: object(4)
memory usage: 250.1+ KB

In [109]:
mql.dtypes

mql_id                object
first_contact_date    object
landing_page_id       object
origin                object
dtype: object

In [110]:
mql.head(5)

,mql_id,first_contact_date,landing_page_id,origin
0,dac32acd4db4c29c230538b72f8dd87d,2/1/2018,88740e65d5d6b056e0cda098e1ea6313,social
1,8c18d1de7f67e60dbd64e3c07d7e9d5d,10/20/2017,007f9098284a86ee80ddeb25d53e0af8,paid_search
2,b4bc852d233dfefc5131f593b538befa,3/22/2018,a7982125ff7aa3b2054c6e44f9d28522,organic_search
3,6be030b81c75970747525b843c1ef4f8,1/22/2018,d45d558f0daeecf3cccdffe3c59684aa,email
4,5420aad7fec3549a85876ba1c529bd84,2/21/2018,b48ec5f3b04e9068441002a19df93c6c,organic_search

In [111]:
mql.isnull().sum()

mql_id                 0
first_contact_date     0
landing_page_id        0
origin                60
dtype: int64

In [112]:
mql.dropna(subset=['origin'],inplace=True)
mql.isnull().sum()

mql_id                0
first_contact_date    0
landing_page_id       0
origin                0
dtype: int64

In [113]:
mql['first_contact_date'] = pd.to_datetime(mql['first_contact_date']).dt.date

In [114]:
mql.head(4)

,mql_id,first_contact_date,landing_page_id,origin
0,dac32acd4db4c29c230538b72f8dd87d,2018-02-01,88740e65d5d6b056e0cda098e1ea6313,social
1,8c18d1de7f67e60dbd64e3c07d7e9d5d,2017-10-20,007f9098284a86ee80ddeb25d53e0af8,paid_search
2,b4bc852d233dfefc5131f593b538befa,2018-03-22,a7982125ff7aa3b2054c6e44f9d28522,organic_search
3,6be030b81c75970747525b843c1ef4f8,2018-01-22,d45d558f0daeecf3cccdffe3c59684aa,email

### EDA for Closed Deals dataset --

In [115]:
cd.head()

,mql_id,seller_id,sdr_id,sr_id,won_date,business_segment,lead_type,lead_behaviour_profile,has_company,has_gtin,average_stock,business_type,declared_product_catalog_size,declared_monthly_revenue
0,5420aad7fec3549a85876ba1c529bd84,2c43fb513632d29b3b58df74816f1b06,a8387c01a09e99ce014107505b92388c,4ef15afb4b2723d8f3d81e51ec7afefe,2/26/2018 19:58,pet,online_medium,cat,NaN,NaN,NaN,reseller,NaN,0
1,a555fb36b9368110ede0f043dfc3b9a0,bbb7d7893a450660432ea6652310ebb7,09285259593c61296eef10c734121d5b,d3d1e91a157ea7f90548eef82f1955e3,5/8/2018 20:17,car_accessories,industry,eagle,NaN,NaN,NaN,reseller,NaN,0
2,327174d3648a2d047e8940d7d15204ca,612170e34b97004b3ba37eae81836b4c,b90f87164b5f8c2cfa5c8572834dbe3f,6565aa9ce3178a5caf6171827af3a9ba,6/5/2018 17:27,home_appliances,online_big,cat,NaN,NaN,NaN,reseller,NaN,0
3,f5fee8f7da74f4887f5bcae2bafb6dd6,21e1781e36faf92725dde4730a88ca0f,56bf83c4bb35763a51c2baab501b4c67,d3d1e91a157ea7f90548eef82f1955e3,1/17/2018 13:51,food_drink,online_small,NaN,NaN,NaN,NaN,reseller,NaN,0
4,ffe640179b554e295c167a2f6be528e0,ed8cb7b190ceb6067227478e48cf8dde,4b339f9567d060bcea4f5136b9f5949e,d3d1e91a157ea7f90548eef82f1955e3,7/3/2018 20:17,home_appliances,industry,wolf,NaN,NaN,NaN,manufacturer,NaN,0

In [116]:
cd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 842 entries, 0 to 841
Data columns (total 14 columns):
mql_id                           842 non-null object
seller_id                        842 non-null object
sdr_id                           842 non-null object
sr_id                            842 non-null object
won_date                         842 non-null object
business_segment                 841 non-null object
lead_type                        836 non-null object
lead_behaviour_profile           665 non-null object
has_company                      63 non-null object
has_gtin                         64 non-null object
average_stock                    66 non-null object
business_type                    832 non-null object
declared_product_catalog_size    69 non-null float64
declared_monthly_revenue         842 non-null int64
dtypes: float64(1), int64(1), object(12)
memory usage: 92.2+ KB

In [117]:
cd.isnull().sum()

mql_id                             0
seller_id                          0
sdr_id                             0
sr_id                              0
won_date                           0
business_segment                   1
lead_type                          6
lead_behaviour_profile           177
has_company                      779
has_gtin                         778
average_stock                    776
business_type                     10
declared_product_catalog_size    773
declared_monthly_revenue           0
dtype: int64

In [118]:
cd['business_segment'].unique()

array(['pet', 'car_accessories', 'home_appliances', 'food_drink',
       'health_beauty', 'computers', 'household_utilities',
       'construction_tools_house_garden', 'toys', 'sports_leisure',
       'stationery', 'food_supplement', 'home_decor', 'bed_bath_table',
       'watches', 'fashion_accessories', 'jewerly', 'party',
       'small_appliances', 'audio_video_electronics', 'other',
       'bags_backpacks', 'home_office_furniture', 'music_instruments',
       'books', 'baby', 'air_conditioning', 'phone_mobile', nan,
       'handcrafted', 'perfume', 'gifts', 'religious', 'games_consoles'],
      dtype=object)

In [119]:
cd['lead_type'].unique()

array(['online_medium', 'industry', 'online_big', 'online_small',
       'offline', 'online_top', 'online_beginner', 'other', nan],
      dtype=object)

In [120]:
cd['business_type'].unique()

array(['reseller', 'manufacturer', 'other', nan], dtype=object)

In [121]:
cd.dropna(subset=['business_segment','lead_type'],inplace=True)
cd.isnull().sum()

mql_id                             0
seller_id                          0
sdr_id                             0
sr_id                              0
won_date                           0
business_segment                   0
lead_type                          0
lead_behaviour_profile           172
has_company                      772
has_gtin                         771
average_stock                    769
business_type                     10
declared_product_catalog_size    766
declared_monthly_revenue           0
dtype: int64

In [122]:
cd['lead_behaviour_profile'].unique()

array(['cat', 'eagle', nan, 'wolf', 'shark', 'cat, wolf', 'eagle, wolf',
       'shark, cat', 'eagle, cat', 'shark, wolf'], dtype=object)

In [123]:
cd['lead_behaviour_profile'] = cd['lead_behaviour_profile'].fillna('others')

In [124]:
cd.isnull().sum()

mql_id                             0
seller_id                          0
sdr_id                             0
sr_id                              0
won_date                           0
business_segment                   0
lead_type                          0
lead_behaviour_profile             0
has_company                      772
has_gtin                         771
average_stock                    769
business_type                     10
declared_product_catalog_size    766
declared_monthly_revenue           0
dtype: int64

In [125]:
cd['business_type'].unique()

array(['reseller', 'manufacturer', 'other', nan], dtype=object)

In [126]:
#dropping null values in business values --
cd.dropna(subset=['business_type'],inplace=True)
cd.isnull().sum()

mql_id                             0
seller_id                          0
sdr_id                             0
sr_id                              0
won_date                           0
business_segment                   0
lead_type                          0
lead_behaviour_profile             0
has_company                      762
has_gtin                         761
average_stock                    759
business_type                      0
declared_product_catalog_size    756
declared_monthly_revenue           0
dtype: int64

In [127]:
#dropping columns has_company, has_gtin number
cd.drop(["has_company","has_gtin"],axis=1,inplace=True)

In [128]:
cd.head(5)

,mql_id,seller_id,sdr_id,sr_id,won_date,business_segment,lead_type,lead_behaviour_profile,average_stock,business_type,declared_product_catalog_size,declared_monthly_revenue
0,5420aad7fec3549a85876ba1c529bd84,2c43fb513632d29b3b58df74816f1b06,a8387c01a09e99ce014107505b92388c,4ef15afb4b2723d8f3d81e51ec7afefe,2/26/2018 19:58,pet,online_medium,cat,NaN,reseller,NaN,0
1,a555fb36b9368110ede0f043dfc3b9a0,bbb7d7893a450660432ea6652310ebb7,09285259593c61296eef10c734121d5b,d3d1e91a157ea7f90548eef82f1955e3,5/8/2018 20:17,car_accessories,industry,eagle,NaN,reseller,NaN,0
2,327174d3648a2d047e8940d7d15204ca,612170e34b97004b3ba37eae81836b4c,b90f87164b5f8c2cfa5c8572834dbe3f,6565aa9ce3178a5caf6171827af3a9ba,6/5/2018 17:27,home_appliances,online_big,cat,NaN,reseller,NaN,0
3,f5fee8f7da74f4887f5bcae2bafb6dd6,21e1781e36faf92725dde4730a88ca0f,56bf83c4bb35763a51c2baab501b4c67,d3d1e91a157ea7f90548eef82f1955e3,1/17/2018 13:51,food_drink,online_small,others,NaN,reseller,NaN,0
4,ffe640179b554e295c167a2f6be528e0,ed8cb7b190ceb6067227478e48cf8dde,4b339f9567d060bcea4f5136b9f5949e,d3d1e91a157ea7f90548eef82f1955e3,7/3/2018 20:17,home_appliances,industry,wolf,NaN,manufacturer,NaN,0

In [129]:
cd.isnull().sum()

mql_id                             0
seller_id                          0
sdr_id                             0
sr_id                              0
won_date                           0
business_segment                   0
lead_type                          0
lead_behaviour_profile             0
average_stock                    759
business_type                      0
declared_product_catalog_size    756
declared_monthly_revenue           0
dtype: int64

In [130]:
cd['average_stock'].unique()

array([nan, '20-50', '5-Jan', '20-May', '200+', '50-200', 'unknown'],
      dtype=object)

In [131]:
cd['declared_product_catalog_size'].unique()

array([     nan, 2.00e+03, 8.00e+01, 1.50e+01, 1.20e+02, 1.00e+03,
       5.00e+01, 4.00e+00, 4.00e+02, 8.00e+02, 5.00e+00, 1.00e+02,
       3.00e+02, 1.00e+01, 4.00e+01, 5.00e+02, 2.00e+02, 2.00e+01,
       1.00e+00, 7.00e+01, 4.50e+01, 2.20e+01, 3.00e+01, 8.50e+01,
       7.50e+01, 6.00e+02, 4.70e+01, 1.20e+01, 7.00e+02, 1.20e+03,
       2.00e+00, 5.50e+02, 3.05e+02, 1.32e+02])

In [132]:
#replacing rows with average_stock and declared_product_catalog_size with zeros
cd['average_stock'] = cd['average_stock'].fillna(0)
cd['declared_product_catalog_size'] = cd['declared_product_catalog_size'].fillna(0)

In [133]:
cd.isnull().any()

mql_id                           False
seller_id                        False
sdr_id                           False
sr_id                            False
won_date                         False
business_segment                 False
lead_type                        False
lead_behaviour_profile           False
average_stock                    False
business_type                    False
declared_product_catalog_size    False
declared_monthly_revenue         False
dtype: bool

In [134]:
cd['won_date'] = pd.to_datetime(cd['won_date']).dt.date

In [135]:
cd.head()

,mql_id,seller_id,sdr_id,sr_id,won_date,business_segment,lead_type,lead_behaviour_profile,average_stock,business_type,declared_product_catalog_size,declared_monthly_revenue
0,5420aad7fec3549a85876ba1c529bd84,2c43fb513632d29b3b58df74816f1b06,a8387c01a09e99ce014107505b92388c,4ef15afb4b2723d8f3d81e51ec7afefe,2018-02-26,pet,online_medium,cat,0,reseller,0.0,0
1,a555fb36b9368110ede0f043dfc3b9a0,bbb7d7893a450660432ea6652310ebb7,09285259593c61296eef10c734121d5b,d3d1e91a157ea7f90548eef82f1955e3,2018-05-08,car_accessories,industry,eagle,0,reseller,0.0,0
2,327174d3648a2d047e8940d7d15204ca,612170e34b97004b3ba37eae81836b4c,b90f87164b5f8c2cfa5c8572834dbe3f,6565aa9ce3178a5caf6171827af3a9ba,2018-06-05,home_appliances,online_big,cat,0,reseller,0.0,0
3,f5fee8f7da74f4887f5bcae2bafb6dd6,21e1781e36faf92725dde4730a88ca0f,56bf83c4bb35763a51c2baab501b4c67,d3d1e91a157ea7f90548eef82f1955e3,2018-01-17,food_drink,online_small,others,0,reseller,0.0,0
4,ffe640179b554e295c167a2f6be528e0,ed8cb7b190ceb6067227478e48cf8dde,4b339f9567d060bcea4f5136b9f5949e,d3d1e91a157ea7f90548eef82f1955e3,2018-07-03,home_appliances,industry,wolf,0,manufacturer,0.0,0

### Merging Closed deals and Marketing Qualified Leads dataset--

In [136]:
#marketing funnel dataset (NaNs are leads that did not close a deal)
closed_deals = mql.merge(cd, on='mql_id', how='inner')
closed_deals.head(10)

,mql_id,first_contact_date,landing_page_id,origin,seller_id,sdr_id,sr_id,won_date,business_segment,lead_type,lead_behaviour_profile,average_stock,business_type,declared_product_catalog_size,declared_monthly_revenue
0,5420aad7fec3549a85876ba1c529bd84,2018-02-21,b48ec5f3b04e9068441002a19df93c6c,organic_search,2c43fb513632d29b3b58df74816f1b06,a8387c01a09e99ce014107505b92388c,4ef15afb4b2723d8f3d81e51ec7afefe,2018-02-26,pet,online_medium,cat,0,reseller,0.0,0
1,a555fb36b9368110ede0f043dfc3b9a0,2018-04-04,2f08471dfb83baef522f952438a36f6e,referral,bbb7d7893a450660432ea6652310ebb7,09285259593c61296eef10c734121d5b,d3d1e91a157ea7f90548eef82f1955e3,2018-05-08,car_accessories,industry,eagle,0,reseller,0.0,0
2,327174d3648a2d047e8940d7d15204ca,2018-04-03,1ceb590cd1e00c7ee95220971f82693d,organic_search,612170e34b97004b3ba37eae81836b4c,b90f87164b5f8c2cfa5c8572834dbe3f,6565aa9ce3178a5caf6171827af3a9ba,2018-06-05,home_appliances,online_big,cat,0,reseller,0.0,0
3,f5fee8f7da74f4887f5bcae2bafb6dd6,2018-01-14,22c29808c4f815213303f8933030604c,paid_search,21e1781e36faf92725dde4730a88ca0f,56bf83c4bb35763a51c2baab501b4c67,d3d1e91a157ea7f90548eef82f1955e3,2018-01-17,food_drink,online_small,others,0,reseller,0.0,0
4,ffe640179b554e295c167a2f6be528e0,2017-10-09,a0fbc0263cb98bdb0d72b9f9f283a172,unknown,ed8cb7b190ceb6067227478e48cf8dde,4b339f9567d060bcea4f5136b9f5949e,d3d1e91a157ea7f90548eef82f1955e3,2018-07-03,home_appliances,industry,wolf,0,manufacturer,0.0,0
5,b94fba7670eeb44dce2a0d8eb790e9f5,2018-02-06,40dec9f3d5259a3d2dbcdab2114fae47,organic_search,1c742ac33582852aaf3bcfbf5893abcf,fdb16d3cbbeb5798f2f66c4096be026d,495d4e95a8cf8bbf8b432b612a2aa328,2018-02-07,health_beauty,online_medium,others,0,manufacturer,0.0,0
6,c3e30ed7ac989117c7e1e719b4ac128f,2018-02-20,e492ee5eaf1697716985cc6f33f9cd9b,direct_traffic,92d7568ad0c5c76fd7d341b2d46f24d6,4b339f9567d060bcea4f5136b9f5949e,85fc447d336637ba1df43e793199fbc8,2018-04-16,computers,online_medium,wolf,0,reseller,0.0,0
7,b02c89251106e1fdd9d92744be9f94f2,2018-04-13,b76ef37428e6799c421989521c0e5077,unknown,44ed138eca6214d572ce1d813fb0049b,34d40cdaf94010a1d05b0d6212f9e909,4ef15afb4b2723d8f3d81e51ec7afefe,2018-04-17,health_beauty,offline,cat,0,manufacturer,0.0,0
8,a90a37898cc5f2718385a2fb981caaff,2018-04-27,58326e62183c14b0c03085c33b9fdc44,social,0b28859cd04d23edefee9c591fb03cd8,f42a2bd194f7802ab052a815c8de65b7,6565aa9ce3178a5caf6171827af3a9ba,2018-05-14,household_utilities,offline,eagle,0,reseller,0.0,0
9,0173e8d8b1d94a355b440fb67388f532,2017-10-18,007f9098284a86ee80ddeb25d53e0af8,paid_search,87d73636a3acf123e842bb890a4db036,9d12ef1a7eca3ec58c545c678af7869c,9e4d1098a3b0f5da39b0bc48f9876645,2018-04-24,household_utilities,online_medium,eagle,0,manufacturer,0.0,0

In [137]:
closed_deals.shape

(811, 15)

In [138]:
closed_deals.isnull().any()

mql_id                           False
first_contact_date               False
landing_page_id                  False
origin                           False
seller_id                        False
sdr_id                           False
sr_id                            False
won_date                         False
business_segment                 False
lead_type                        False
lead_behaviour_profile           False
average_stock                    False
business_type                    False
declared_product_catalog_size    False
declared_monthly_revenue         False
dtype: bool

Writing closed deals to csv file --

In [139]:
closed_deals.to_csv('Closed_deals.csv',index = False)

### EDA - Sellers Dataset --

In [140]:
sellers.head(5)

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

In [141]:
sellers.shape

(3095, 4)

In [142]:
sellers.isnull().any()

seller_id                 False
seller_zip_code_prefix    False
seller_city               False
seller_state              False
dtype: bool

In [143]:
sellers.to_csv('Sellers_data_EDA.csv',index = False)

### EDA - Orders Dataset - Orders, Order_items, Order_Reviews data

Order items  --

In [144]:
order_items.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [145]:
order_items.columns

Index(['order_id', 'order_item_id', 'product_id', 'seller_id',
       'shipping_limit_date', 'price', 'freight_value'],
      dtype='object')

In [146]:
order_items.shape

(112650, 7)

In [147]:
order_items.isnull().sum()

order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

In [148]:
order_items['shipping_limit_date'] = pd.to_datetime(order_items['shipping_limit_date']).dt.date

In [149]:
order_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
order_id               112650 non-null object
order_item_id          112650 non-null int64
product_id             112650 non-null object
seller_id              112650 non-null object
shipping_limit_date    112650 non-null object
price                  112650 non-null float64
freight_value          112650 non-null float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

Orders dataset --

In [150]:
orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [151]:
orders.columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date'],
      dtype='object')

In [152]:
orders.shape

(99441, 8)

In [153]:
orders.isnull().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

In [154]:
orders.dropna(subset=['order_approved_at','order_delivered_carrier_date','order_delivered_customer_date',
                      'order_estimated_delivery_date'],inplace=True)
orders.isnull().sum()

order_id                         0
customer_id                      0
order_status                     0
order_purchase_timestamp         0
order_approved_at                0
order_delivered_carrier_date     0
order_delivered_customer_date    0
order_estimated_delivery_date    0
dtype: int64

In [155]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 96461 entries, 0 to 99440
Data columns (total 8 columns):
order_id                         96461 non-null object
customer_id                      96461 non-null object
order_status                     96461 non-null object
order_purchase_timestamp         96461 non-null object
order_approved_at                96461 non-null object
order_delivered_carrier_date     96461 non-null object
order_delivered_customer_date    96461 non-null object
order_estimated_delivery_date    96461 non-null object
dtypes: object(8)
memory usage: 6.6+ MB

In [156]:
orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [157]:
orders['order_approved_at'] = pd.to_datetime(orders['order_approved_at']).dt.date
orders['order_delivered_carrier_date'] = pd.to_datetime(orders['order_delivered_carrier_date']).dt.date
orders['order_delivered_customer_date'] = pd.to_datetime(orders['order_delivered_customer_date']).dt.date
orders['order_estimated_delivery_date'] = pd.to_datetime(orders['order_estimated_delivery_date']).dt.date

In [158]:
orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02,2017-10-04,2017-10-10,2017-10-18
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26,2018-07-26,2018-08-07,2018-08-13
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08,2018-08-08,2018-08-17,2018-09-04
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18,2017-11-22,2017-12-02,2017-12-15
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13,2018-02-14,2018-02-16,2018-02-26

Order Reviews --

In [195]:
reviews.tail(5)

,review_id,order_id,review_score,review_creation_date,review_answer_timestamp
99995,f3897127253a9592a73be9bdfdf4ed7a,22ec9f0669f784db00fa86d035cf8602,5,2017-12-09,2017-12-11 20:06:42
99996,b3de70c89b1510c4cd3d0649fd302472,55d4004744368f5571d1f590031933e4,5,2018-03-22,2018-03-23 09:10:43
99997,1adeb9d84d72fe4e337617733eb85149,7725825d039fc1f0ceb7635e3f7d9206,4,2018-07-01,2018-07-02 12:59:13
99998,be360f18f5df1e0541061c87021e6d93,f8bd3f2000c28c5342fedeb5e50f2e75,1,2017-12-15,2017-12-16 01:29:43
99999,efe49f1d6f951dd88b51e6ccd4cc548f,90531360ecb1eec2a1fbb265a0db0508,1,2017-07-03,2017-07-03 21:01:49

In [160]:
reviews['review_creation_date'] = pd.to_datetime(reviews['review_creation_date']).dt.date

In [194]:
reviews.columns

Index(['review_id', 'order_id', 'review_score', 'review_creation_date',
       'review_answer_timestamp'],
      dtype='object')

In [161]:
reviews.shape

(100000, 7)

In [162]:
reviews.isnull().sum()

review_id                      0
order_id                       0
review_score                   0
review_comment_title       88285
review_comment_message     58247
review_creation_date           0
review_answer_timestamp        0
dtype: int64

In [163]:
reviews['review_score'].unique()

array([4, 5, 1, 3, 2], dtype=int64)

In [164]:
reviews.drop(["review_comment_title","review_comment_message"],axis=1,inplace=True)

In [165]:
reviews.isnull().any()

review_id                  False
order_id                   False
review_score               False
review_creation_date       False
review_answer_timestamp    False
dtype: bool

Merging Orders, Order_items and Order_Reviews ---

In [166]:
ord = orders.merge(order_items, on='order_id', how='left')
ord.head(10)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02,2017-10-04,2017-10-10,2017-10-18,1,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06,29.99,8.72
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26,2018-07-26,2018-08-07,2018-08-13,1,595fac2a385ac33a80bd5114aec74eb8,289cdb325fb7e7f891c38608bf9e0962,2018-07-30,118.70,22.76
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08,2018-08-08,2018-08-17,2018-09-04,1,aa4383b373c6aca5d8797843e5594415,4869f7a5dfa277a7dca6462dcf3b52b2,2018-08-13,159.90,19.22
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18,2017-11-22,2017-12-02,2017-12-15,1,d0b61bfb1de832b15ba9d266ca96e5b0,66922902710d126a0e7d26b0e3805106,2017-11-23,45.00,27.20
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13,2018-02-14,2018-02-16,2018-02-26,1,65266b2da20d04dbe00c5c2d3bb7859e,2c9e548be18521d1c43cde1c582c6de8,2018-02-19,19.90,8.72
5,a4591c265e18cb1dcee52889e2d8acc3,503740e9ca751ccdda7ba28e9ab8f608,delivered,2017-07-09 21:57:05,2017-07-09,2017-07-11,2017-07-26,2017-08-01,1,060cb19345d90064d1015407193c233d,8581055ce74af1daba164fdbd55a40de,2017-07-13,147.90,27.36
6,6514b8ad8028c9f2cc2374ded245783f,9bdf08b4b3b52b5526ff42d37d47f222,delivered,2017-05-16 13:10:30,2017-05-16,2017-05-22,2017-05-26,2017-06-07,1,4520766ec412348b8d4caa5e8a18c464,16090f2ca825584b5a147ab24aa30c86,2017-05-22,59.99,15.17
7,76c6e866289321a7c93b82b54852dc33,f54a9f0e6b351c431402b8461ea51999,delivered,2017-01-23 18:29:09,2017-01-25,2017-01-26,2017-02-02,2017-03-06,1,ac1789e492dcd698c5c10b97a671243a,63b9ae557efed31d1f7687917d248a8d,2017-01-27,19.90,16.05
8,e69bfb5eb88e0ed6a785585b27e16dbf,31ad1d1b63eb9962463f764d4e6e0c9d,delivered,2017-07-29 11:55:02,2017-07-29,2017-08-10,2017-08-16,2017-08-23,1,9a78fb9862b10749a117f7fc3c31f051,7c67e1448b00f6e969d365cea6b010ab,2017-08-11,149.99,19.77
9,e6ce16cb79ec1d90b1da9085a6118aeb,494dded5b201313c64ed7f100595b95c,delivered,2017-05-16 19:41:10,2017-05-16,2017-05-18,2017-05-29,2017-06-07,1,08574b074924071f4e201e151b152b4e,001cca7ae9ae17fb1caed9dfb1094831,2017-05-22,99.00,30.53

In [196]:
ord.columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date',
       'order_item_id', 'product_id', 'seller_id', 'shipping_limit_date',
       'price', 'freight_value'],
      dtype='object')

In [197]:
ord.shape

(110180, 14)

In [168]:
order = ord.merge(reviews, on='order_id', how='left')
order.head(10)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,review_id,review_score,review_creation_date,review_answer_timestamp
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02,2017-10-04,2017-10-10,2017-10-18,1,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06,29.99,8.72,a54f0611adc9ed256b57ede6b6eb5114,4,2017-10-11,2017-10-12 03:43:48
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26,2018-07-26,2018-08-07,2018-08-13,1,595fac2a385ac33a80bd5114aec74eb8,289cdb325fb7e7f891c38608bf9e0962,2018-07-30,118.70,22.76,8d5266042046a06655c8db133d120ba5,4,2018-08-08,2018-08-08 18:37:50
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08,2018-08-08,2018-08-17,2018-09-04,1,aa4383b373c6aca5d8797843e5594415,4869f7a5dfa277a7dca6462dcf3b52b2,2018-08-13,159.90,19.22,e73b67b67587f7644d5bd1a52deb1b01,5,2018-08-18,2018-08-22 19:07:58
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18,2017-11-22,2017-12-02,2017-12-15,1,d0b61bfb1de832b15ba9d266ca96e5b0,66922902710d126a0e7d26b0e3805106,2017-11-23,45.00,27.20,359d03e676b3c069f62cadba8dd3f6e8,5,2017-12-03,2017-12-05 19:21:58
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13,2018-02-14,2018-02-16,2018-02-26,1,65266b2da20d04dbe00c5c2d3bb7859e,2c9e548be18521d1c43cde1c582c6de8,2018-02-19,19.90,8.72,e50934924e227544ba8246aeb3770dd4,5,2018-02-17,2018-02-18 13:02:51
5,a4591c265e18cb1dcee52889e2d8acc3,503740e9ca751ccdda7ba28e9ab8f608,delivered,2017-07-09 21:57:05,2017-07-09,2017-07-11,2017-07-26,2017-08-01,1,060cb19345d90064d1015407193c233d,8581055ce74af1daba164fdbd55a40de,2017-07-13,147.90,27.36,89b738e70a1ce346db29a20fb2910161,4,2017-07-27,2017-07-27 22:48:30
6,6514b8ad8028c9f2cc2374ded245783f,9bdf08b4b3b52b5526ff42d37d47f222,delivered,2017-05-16 13:10:30,2017-05-16,2017-05-22,2017-05-26,2017-06-07,1,4520766ec412348b8d4caa5e8a18c464,16090f2ca825584b5a147ab24aa30c86,2017-05-22,59.99,15.17,07d67dd06ed5f88bef11ef6b464e79ae,5,2017-05-27,2017-05-28 02:59:57
7,76c6e866289321a7c93b82b54852dc33,f54a9f0e6b351c431402b8461ea51999,delivered,2017-01-23 18:29:09,2017-01-25,2017-01-26,2017-02-02,2017-03-06,1,ac1789e492dcd698c5c10b97a671243a,63b9ae557efed31d1f7687917d248a8d,2017-01-27,19.90,16.05,fc4af8aea8ec3f1a3cd181d3d0cadbd5,1,2017-02-03,2017-02-05 01:58:35
8,e69bfb5eb88e0ed6a785585b27e16dbf,31ad1d1b63eb9962463f764d4e6e0c9d,delivered,2017-07-29 11:55:02,2017-07-29,2017-08-10,2017-08-16,2017-08-23,1,9a78fb9862b10749a117f7fc3c31f051,7c67e1448b00f6e969d365cea6b010ab,2017-08-11,149.99,19.77,abc5655186d40772bd6e410420e6a3ed,5,2017-08-17,2017-08-18 01:47:32
9,e6ce16cb79ec1d90b1da9085a6118aeb,494dded5b201313c64ed7f100595b95c,delivered,2017-05-16 19:41:10,2017-05-16,2017-05-18,2017-05-29,2017-06-07,1,08574b074924071f4e201e151b152b4e,001cca7ae9ae17fb1caed9dfb1094831,2017-05-22,99.00,30.53,15898b543726a832d4137fbef5d1d00e,1,2017-05-30,2017-05-30 23:13:47

In [169]:
order.shape

(110831, 18)

In [170]:
order.drop(order.tail(15000).index,inplace=True)

In [171]:
order.shape

(95831, 18)

Writing to Orders csv file --

In [172]:
order.to_csv('Order.csv',index = False)

### EDA - Products and Product_name

In [173]:
prod_name.head()

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

In [174]:
prod_name.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
product_category_name            71 non-null object
product_category_name_english    71 non-null object
dtypes: object(2)
memory usage: 1.2+ KB

In [175]:
prod_name.isnull().any()

product_category_name            False
product_category_name_english    False
dtype: bool

In [176]:
prod_name['product_category_name_english'].unique()

array(['health_beauty', 'computers_accessories', 'auto', 'bed_bath_table',
       'furniture_decor', 'sports_leisure', 'perfumery', 'housewares',
       'telephony', 'watches_gifts', 'food_drink', 'baby', 'stationery',
       'tablets_printing_image', 'toys', 'fixed_telephony',
       'garden_tools', 'fashion_bags_accessories', 'small_appliances',
       'consoles_games', 'audio', 'fashion_shoes', 'cool_stuff',
       'luggage_accessories', 'air_conditioning',
       'construction_tools_construction',
       'kitchen_dining_laundry_garden_furniture',
       'costruction_tools_garden', 'fashion_male_clothing', 'pet_shop',
       'office_furniture', 'market_place', 'electronics',
       'home_appliances', 'party_supplies', 'home_confort',
       'costruction_tools_tools', 'agro_industry_and_commerce',
       'furniture_mattress_and_upholstery', 'books_technical',
       'home_construction', 'musical_instruments',
       'furniture_living_room', 'construction_tools_lights',
       'industry_commerce_and_business', 'food', 'art',
       'furniture_bedroom', 'books_general_interest',
       'construction_tools_safety', 'fashion_underwear_beach',
       'fashion_sport', 'signaling_and_security', 'computers',
       'christmas_supplies', 'fashio_female_clothing',
       'home_appliances_2', 'books_imported', 'drinks', 'cine_photo',
       'la_cuisine', 'music', 'home_comfort_2',
       'small_appliances_home_oven_and_coffee', 'cds_dvds_musicals',
       'dvds_blu_ray', 'flowers', 'arts_and_craftmanship',
       'diapers_and_hygiene', 'fashion_childrens_clothes',
       'security_and_services'], dtype=object)

Products - EDA

In [177]:
products.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [178]:
products.shape

(32951, 9)

In [179]:
#dropping product
products.drop(columns = ['product_name_lenght','product_description_lenght','product_photos_qty','product_weight_g'
                       ,'product_length_cm','product_height_cm','product_width_cm'],inplace=True)

In [180]:
products.isnull().sum()

product_id                 0
product_category_name    610
dtype: int64

In [181]:
products.shape

(32951, 2)

Merging products and prod_name --

In [182]:
product = prod_name.merge(products, on='product_category_name', how='inner')
product.head(10)

,product_category_name,product_category_name_english,product_id
0,beleza_saude,health_beauty,e3e020af31d4d89d2602272b315c3f6e
1,beleza_saude,health_beauty,c5d8079278e912d7e3b6beb48ecb56e8
2,beleza_saude,health_beauty,36555a2f528d7b2a255c504191445d39
3,beleza_saude,health_beauty,e586ebb6022265ae1eea38f46ffe3ead
4,beleza_saude,health_beauty,75b4372e69a42f8ae1d908c076f547b2
5,beleza_saude,health_beauty,3569d4374a919941a50f57371b1dc93d
6,beleza_saude,health_beauty,3a6a0247ced9dcb444b46caafdcdd368
7,beleza_saude,health_beauty,adf591c625cb265c12bc6749d3a2f757
8,beleza_saude,health_beauty,50556c630443502c11acde1c320fe278
9,beleza_saude,health_beauty,88d2c501ec765f5d7e8038fa6aab0e62

In [183]:
product.shape

(32328, 3)

In [184]:
product['product_category_name_english'].unique()

array(['health_beauty', 'computers_accessories', 'auto', 'bed_bath_table',
       'furniture_decor', 'sports_leisure', 'perfumery', 'housewares',
       'telephony', 'watches_gifts', 'food_drink', 'baby', 'stationery',
       'tablets_printing_image', 'toys', 'fixed_telephony',
       'garden_tools', 'fashion_bags_accessories', 'small_appliances',
       'consoles_games', 'audio', 'fashion_shoes', 'cool_stuff',
       'luggage_accessories', 'air_conditioning',
       'construction_tools_construction',
       'kitchen_dining_laundry_garden_furniture',
       'costruction_tools_garden', 'fashion_male_clothing', 'pet_shop',
       'office_furniture', 'market_place', 'electronics',
       'home_appliances', 'party_supplies', 'home_confort',
       'costruction_tools_tools', 'agro_industry_and_commerce',
       'furniture_mattress_and_upholstery', 'books_technical',
       'home_construction', 'musical_instruments',
       'furniture_living_room', 'construction_tools_lights',
       'industry_commerce_and_business', 'food', 'art',
       'furniture_bedroom', 'books_general_interest',
       'construction_tools_safety', 'fashion_underwear_beach',
       'fashion_sport', 'signaling_and_security', 'computers',
       'christmas_supplies', 'fashio_female_clothing',
       'home_appliances_2', 'books_imported', 'drinks', 'cine_photo',
       'la_cuisine', 'music', 'home_comfort_2',
       'small_appliances_home_oven_and_coffee', 'cds_dvds_musicals',
       'dvds_blu_ray', 'flowers', 'arts_and_craftmanship',
       'diapers_and_hygiene', 'fashion_childrens_clothes',
       'security_and_services'], dtype=object)

Writing to Product csv file--

In [185]:
product.to_csv('Product.csv',index = False)

### Merging all the datasets -- Closed Deals, Seller, Orders and Product dataset .

In [186]:
seller_deal = closed_deals.merge(sellers, on='seller_id', how='left')
seller_deal.head(10)

,mql_id,first_contact_date,landing_page_id,origin,seller_id,sdr_id,sr_id,won_date,business_segment,lead_type,lead_behaviour_profile,average_stock,business_type,declared_product_catalog_size,declared_monthly_revenue,seller_zip_code_prefix,seller_city,seller_state
0,5420aad7fec3549a85876ba1c529bd84,2018-02-21,b48ec5f3b04e9068441002a19df93c6c,organic_search,2c43fb513632d29b3b58df74816f1b06,a8387c01a09e99ce014107505b92388c,4ef15afb4b2723d8f3d81e51ec7afefe,2018-02-26,pet,online_medium,cat,0,reseller,0.0,0,30421.0,belo horizonte,MG
1,a555fb36b9368110ede0f043dfc3b9a0,2018-04-04,2f08471dfb83baef522f952438a36f6e,referral,bbb7d7893a450660432ea6652310ebb7,09285259593c61296eef10c734121d5b,d3d1e91a157ea7f90548eef82f1955e3,2018-05-08,car_accessories,industry,eagle,0,reseller,0.0,0,NaN,NaN,NaN
2,327174d3648a2d047e8940d7d15204ca,2018-04-03,1ceb590cd1e00c7ee95220971f82693d,organic_search,612170e34b97004b3ba37eae81836b4c,b90f87164b5f8c2cfa5c8572834dbe3f,6565aa9ce3178a5caf6171827af3a9ba,2018-06-05,home_appliances,online_big,cat,0,reseller,0.0,0,93542.0,novo hamburgo,RS
3,f5fee8f7da74f4887f5bcae2bafb6dd6,2018-01-14,22c29808c4f815213303f8933030604c,paid_search,21e1781e36faf92725dde4730a88ca0f,56bf83c4bb35763a51c2baab501b4c67,d3d1e91a157ea7f90548eef82f1955e3,2018-01-17,food_drink,online_small,others,0,reseller,0.0,0,NaN,NaN,NaN
4,ffe640179b554e295c167a2f6be528e0,2017-10-09,a0fbc0263cb98bdb0d72b9f9f283a172,unknown,ed8cb7b190ceb6067227478e48cf8dde,4b339f9567d060bcea4f5136b9f5949e,d3d1e91a157ea7f90548eef82f1955e3,2018-07-03,home_appliances,industry,wolf,0,manufacturer,0.0,0,11015.0,santos,SP
5,b94fba7670eeb44dce2a0d8eb790e9f5,2018-02-06,40dec9f3d5259a3d2dbcdab2114fae47,organic_search,1c742ac33582852aaf3bcfbf5893abcf,fdb16d3cbbeb5798f2f66c4096be026d,495d4e95a8cf8bbf8b432b612a2aa328,2018-02-07,health_beauty,online_medium,others,0,manufacturer,0.0,0,30668.0,belo horizonte,MG
6,c3e30ed7ac989117c7e1e719b4ac128f,2018-02-20,e492ee5eaf1697716985cc6f33f9cd9b,direct_traffic,92d7568ad0c5c76fd7d341b2d46f24d6,4b339f9567d060bcea4f5136b9f5949e,85fc447d336637ba1df43e793199fbc8,2018-04-16,computers,online_medium,wolf,0,reseller,0.0,0,NaN,NaN,NaN
7,b02c89251106e1fdd9d92744be9f94f2,2018-04-13,b76ef37428e6799c421989521c0e5077,unknown,44ed138eca6214d572ce1d813fb0049b,34d40cdaf94010a1d05b0d6212f9e909,4ef15afb4b2723d8f3d81e51ec7afefe,2018-04-17,health_beauty,offline,cat,0,manufacturer,0.0,0,92010.0,canoas,RS
8,a90a37898cc5f2718385a2fb981caaff,2018-04-27,58326e62183c14b0c03085c33b9fdc44,social,0b28859cd04d23edefee9c591fb03cd8,f42a2bd194f7802ab052a815c8de65b7,6565aa9ce3178a5caf6171827af3a9ba,2018-05-14,household_utilities,offline,eagle,0,reseller,0.0,0,NaN,NaN,NaN
9,0173e8d8b1d94a355b440fb67388f532,2017-10-18,007f9098284a86ee80ddeb25d53e0af8,paid_search,87d73636a3acf123e842bb890a4db036,9d12ef1a7eca3ec58c545c678af7869c,9e4d1098a3b0f5da39b0bc48f9876645,2018-04-24,household_utilities,online_medium,eagle,0,manufacturer,0.0,0,15190.0,nhandeara,SP

In [187]:
seller_deal.shape

(811, 18)

In [188]:
ord_seller_deals = seller_deal.merge(order, on='seller_id', how='inner')
ord_seller_deals.head(5)

,mql_id,first_contact_date,landing_page_id,origin,seller_id,sdr_id,sr_id,won_date,business_segment,lead_type,...,order_estimated_delivery_date,order_item_id,product_id,shipping_limit_date,price,freight_value,review_id,review_score,review_creation_date,review_answer_timestamp
0,5420aad7fec3549a85876ba1c529bd84,2018-02-21,b48ec5f3b04e9068441002a19df93c6c,organic_search,2c43fb513632d29b3b58df74816f1b06,a8387c01a09e99ce014107505b92388c,4ef15afb4b2723d8f3d81e51ec7afefe,2018-02-26,pet,online_medium,...,2018-07-13,1,9bb2d066e4b33b624cbdfec7d50b3dcb,2018-06-27,99.8,15.00,b8e55f84a8b1dbfd424e7d03e743f0f5,5,2018-06-26,2018-06-28 19:55:07
1,5420aad7fec3549a85876ba1c529bd84,2018-02-21,b48ec5f3b04e9068441002a19df93c6c,organic_search,2c43fb513632d29b3b58df74816f1b06,a8387c01a09e99ce014107505b92388c,4ef15afb4b2723d8f3d81e51ec7afefe,2018-02-26,pet,online_medium,...,2018-08-07,1,9e0873e9ac04b12f282b81af5daebd2e,2018-07-30,664.0,38.41,5937d81cf570dcd7fd4fe8f5c9c293bc,1,2018-07-28,2018-07-28 23:33:39
2,5420aad7fec3549a85876ba1c529bd84,2018-02-21,b48ec5f3b04e9068441002a19df93c6c,organic_search,2c43fb513632d29b3b58df74816f1b06,a8387c01a09e99ce014107505b92388c,4ef15afb4b2723d8f3d81e51ec7afefe,2018-02-26,pet,online_medium,...,2018-07-17,1,e94df75b2e9a8b056be0c144a731f55c,2018-06-26,94.2,18.76,5763c4c80bb958960d2d9091dd3dd86e,5,2018-06-27,2018-06-30 17:14:07
3,327174d3648a2d047e8940d7d15204ca,2018-04-03,1ceb590cd1e00c7ee95220971f82693d,organic_search,612170e34b97004b3ba37eae81836b4c,b90f87164b5f8c2cfa5c8572834dbe3f,6565aa9ce3178a5caf6171827af3a9ba,2018-06-05,home_appliances,online_big,...,2018-08-22,1,f4d2144023a238288d36db2840a37ea0,2018-08-15,170.0,10.32,ad16c9c3b9b6c0f39b741311da0e57ec,5,2018-08-15,2018-08-15 22:20:09
4,327174d3648a2d047e8940d7d15204ca,2018-04-03,1ceb590cd1e00c7ee95220971f82693d,organic_search,612170e34b97004b3ba37eae81836b4c,b90f87164b5f8c2cfa5c8572834dbe3f,6565aa9ce3178a5caf6171827af3a9ba,2018-06-05,home_appliances,online_big,...,2018-07-23,1,22a8168cf1f1c6347da8d29863b7f75e,2018-07-11,296.5,9.66,c14dacc8a1cd7bbbe585c409d59c058a,4,2018-07-12,2018-07-12 18:55:14

In [189]:
ord_seller_deals.shape

(4287, 35)

In [190]:
ord_seller_deals.isnull().sum()

mql_id                           0
first_contact_date               0
landing_page_id                  0
origin                           0
seller_id                        0
sdr_id                           0
sr_id                            0
won_date                         0
business_segment                 0
lead_type                        0
lead_behaviour_profile           0
average_stock                    0
business_type                    0
declared_product_catalog_size    0
declared_monthly_revenue         0
seller_zip_code_prefix           0
seller_city                      0
seller_state                     0
order_id                         0
customer_id                      0
order_status                     0
order_purchase_timestamp         0
order_approved_at                0
order_delivered_carrier_date     0
order_delivered_customer_date    0
order_estimated_delivery_date    0
order_item_id                    0
product_id                       0
shipping_limit_date              0
price                            0
freight_value                    0
review_id                        0
review_score                     0
review_creation_date             0
review_answer_timestamp          0
dtype: int64

In [191]:
Olist = ord_seller_deals.merge(product, on='product_id', how='inner')
Olist.head(5)

,mql_id,first_contact_date,landing_page_id,origin,seller_id,sdr_id,sr_id,won_date,business_segment,lead_type,...,product_id,shipping_limit_date,price,freight_value,review_id,review_score,review_creation_date,review_answer_timestamp,product_category_name,product_category_name_english
0,5420aad7fec3549a85876ba1c529bd84,2018-02-21,b48ec5f3b04e9068441002a19df93c6c,organic_search,2c43fb513632d29b3b58df74816f1b06,a8387c01a09e99ce014107505b92388c,4ef15afb4b2723d8f3d81e51ec7afefe,2018-02-26,pet,online_medium,...,9bb2d066e4b33b624cbdfec7d50b3dcb,2018-06-27,99.8,15.00,b8e55f84a8b1dbfd424e7d03e743f0f5,5,2018-06-26,2018-06-28 19:55:07,pet_shop,pet_shop
1,5420aad7fec3549a85876ba1c529bd84,2018-02-21,b48ec5f3b04e9068441002a19df93c6c,organic_search,2c43fb513632d29b3b58df74816f1b06,a8387c01a09e99ce014107505b92388c,4ef15afb4b2723d8f3d81e51ec7afefe,2018-02-26,pet,online_medium,...,9e0873e9ac04b12f282b81af5daebd2e,2018-07-30,664.0,38.41,5937d81cf570dcd7fd4fe8f5c9c293bc,1,2018-07-28,2018-07-28 23:33:39,ferramentas_jardim,garden_tools
2,5420aad7fec3549a85876ba1c529bd84,2018-02-21,b48ec5f3b04e9068441002a19df93c6c,organic_search,2c43fb513632d29b3b58df74816f1b06,a8387c01a09e99ce014107505b92388c,4ef15afb4b2723d8f3d81e51ec7afefe,2018-02-26,pet,online_medium,...,e94df75b2e9a8b056be0c144a731f55c,2018-06-26,94.2,18.76,5763c4c80bb958960d2d9091dd3dd86e,5,2018-06-27,2018-06-30 17:14:07,pet_shop,pet_shop
3,327174d3648a2d047e8940d7d15204ca,2018-04-03,1ceb590cd1e00c7ee95220971f82693d,organic_search,612170e34b97004b3ba37eae81836b4c,b90f87164b5f8c2cfa5c8572834dbe3f,6565aa9ce3178a5caf6171827af3a9ba,2018-06-05,home_appliances,online_big,...,f4d2144023a238288d36db2840a37ea0,2018-08-15,170.0,10.32,ad16c9c3b9b6c0f39b741311da0e57ec,5,2018-08-15,2018-08-15 22:20:09,informatica_acessorios,computers_accessories
4,327174d3648a2d047e8940d7d15204ca,2018-04-03,1ceb590cd1e00c7ee95220971f82693d,organic_search,612170e34b97004b3ba37eae81836b4c,b90f87164b5f8c2cfa5c8572834dbe3f,6565aa9ce3178a5caf6171827af3a9ba,2018-06-05,home_appliances,online_big,...,f4d2144023a238288d36db2840a37ea0,2018-08-21,170.0,10.32,a4b9541289135fc814e0b293514b86ff,5,2018-08-22,2018-08-22 22:19:35,informatica_acessorios,computers_accessories

In [192]:
Olist.shape

(4251, 37)

In [193]:
Olist.isnull().sum()

mql_id                           0
first_contact_date               0
landing_page_id                  0
origin                           0
seller_id                        0
sdr_id                           0
sr_id                            0
won_date                         0
business_segment                 0
lead_type                        0
lead_behaviour_profile           0
average_stock                    0
business_type                    0
declared_product_catalog_size    0
declared_monthly_revenue         0
seller_zip_code_prefix           0
seller_city                      0
seller_state                     0
order_id                         0
customer_id                      0
order_status                     0
order_purchase_timestamp         0
order_approved_at                0
order_delivered_carrier_date     0
order_delivered_customer_date    0
order_estimated_delivery_date    0
order_item_id                    0
product_id                       0
shipping_limit_date              0
price                            0
freight_value                    0
review_id                        0
review_score                     0
review_creation_date             0
review_answer_timestamp          0
product_category_name            0
product_category_name_english    0
dtype: int64